<% if logged_in? %>
<div id="picture">
  <aside class="col-md-4">
    <section>
      <%= link_to image_tag("expense2.jpeg", alt:    "ExpenseBook"), '#' %>
     </section>
  </aside>
  <div id="column1">  
    <section class="form-button-item">
     <%= link_to "Add Expenses", new_expense_path, class: "btn btn-lg btn-block btn-primary" %>
    </section>
    <section class="form-button-item"> 
      <%= link_to "Reports", '/expenses/dateForm', class: "btn btn-lg btn-block btn-primary", data: { no_turbolink: true }%>
    </section>
    <section class="form-button-item">
     <% if current_user.admin? %>
      <%= link_to "Categories", categories_path, class: "btn btn-lg btn-block btn-primary"%>
     <% end %>
    </section>
  </div>
</div>
<% else %>
<div class="center hero-unit">
  <h1>Welcome to the Expense Book</h1>

  <h2>
    This application keeps track of your day to day expense and generates category wise - weekly, monthly and yearly reports
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("expense.jpeg", alt: "ExpenseBook"), '#' %>

<% end %>
