<h1>Add new expenses</h1>

<div id="picture">
  <aside class="col-md-4">
    <section>
      <%= link_to image_tag("expense2.jpeg", alt:    "ExpenseBook"), '#' %>
     </section>
  </aside>
</div>
<div id="column1">
    <%= form_for(@expense) do |f| %>
      <%= f.label :Category %>
      <%= f.collection_select(:category_id, @category, :id, :name, :include_blank => "Please select category...") %>
    
       <%= f.label :description %>
       <%= f.text_field :description %>

       <%= f.label :amount %>
       <%= f.text_field :amount %>

       <%= f.submit "Save", class: "btn btn-primary" %>

    <% end %>
</div>

